@import "/styles/variables.scss";

.pk-column {
  flex: 0 0 280px;
  background: var(--bg-column);
  box-shadow: var(--shadow-column);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex-shrink: 0;
  border: 1px solid var(--border-default);
  overflow: hidden;      // 👈 importante
  min-height: 0;
}

.pk-column__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-primary);
}

.pk-column__content {
  flex: 1;               // 👈 hace que ocupe el espacio restante
  min-height: 0; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pk-column__content::-webkit-scrollbar {
  display: none;
}
