@import "/styles/variables.scss";

.pk-layout {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-app);
  

  &__navbar {
    width: 100%;
    height: 72px;
    padding: 0 32px;

    @include respond(sm) {
      padding: 0 16px;
      height: 64px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--bg-surface);

    border-bottom: 1px solid var(--border-default);
    box-shadow: var(--shadow-default);

    flex-shrink: 0;
  }

  &__navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--text-primary);
  }

  &__subtitle {
    font-size: 12px;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;

    @include respond(sm) {
      display: none;
    }
  }

  &__navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__app {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 0;
  }
}
