.backdrop {
  position: fixed;
  inset: 0;
  background: var(--backdrop-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.modal {
  width: 100%;
  max-height: 85dvh;
  overflow-y: auto;
  overflow-x: hidden;

  background: var(--bg-modal);
  border-radius: 18px;
  padding: 32px;
  box-shadow: var(--shadow-modal);

  animation: fadeIn 0.2s ease-out;
}

.modal::-webkit-scrollbar {
  width: 0px;
}